@using TesteNovaVida.Models
@model IEnumerable<Aluno>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
@*     <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            background-color: #fff;
        }

            table th {
                background-color: #B8DBFD;
                color: #333;
                font-weight: bold;
            }

            table th, table td {
                padding: 5px;
                border: 1px solid #ccc;
            }

            table, table table td {
                border: 0px solid #ccc;
            }
    </style> *@
</head>
<body>
    <h2>Importar Alunos</h2>
    <hr />
    <br />

    @using (Html.BeginForm("Index", "Import",  FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" name="id" value="@Context.Request.RouteValues["id"]" />
        <input type="file" name="postedFile" />
        <input type="submit" value="Import" />
    }
    @if (Model.Count() > 0)
    {
        <hr />
        <table class="table" cellpadding="0" cellspacing="0">
            <tr>
                <th>Nome do aluno</th>
                <th>Valor da mensalidade</th>
                <th>Data de vencimento</th>
            </tr>
            @foreach (Aluno aluno in Model)
            {
                <tr>
                    <td>@aluno.NomeAluno</td>
                    <td>@aluno.ValorMensalidade</td>
                    <td>@aluno.DataVencimento</td>

                </tr>
            }
        </table>
    }
    
</body>
</html>
