USE [master]
GO
/****** Object:  Database [TesteNovaVida]    Script Date: 07/07/2025 02:52:47 ******/
CREATE DATABASE [TesteNovaVida]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TesteNovaVida', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TesteNovaVida.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TesteNovaVida_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TesteNovaVida_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TesteNovaVida].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TesteNovaVida]
GO
/****** Object:  Table [dbo].[Aluno]    Script Date: 07/07/2025 02:52:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aluno](
	[IdProfessor] [int] NOT NULL,
	[IdAluno] [int] IDENTITY(1,1) NOT NULL,
	[NomeAluno] [varchar](100) NOT NULL,
	[ValorMensalidade] [decimal](18, 2) NULL,
	[DataVencimento] [datetime] NULL,
 CONSTRAINT [PK_Aluno] PRIMARY KEY CLUSTERED 
(
	[IdAluno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Professor]    Script Date: 07/07/2025 02:52:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Professor](
	[IdProfessor] [int] IDENTITY(1,1) NOT NULL,
	[NomeProfessor] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Professor] PRIMARY KEY CLUSTERED 
(
	[IdProfessor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UltimaImportacao]    Script Date: 07/07/2025 02:52:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UltimaImportacao](
	[IdUltimaImportacao] [int] IDENTITY(1,1) NOT NULL,
	[DataHora] [datetime] NOT NULL,
 CONSTRAINT [PK_UltimaImportacao] PRIMARY KEY CLUSTERED 
(
	[IdUltimaImportacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Aluno]  WITH CHECK ADD  CONSTRAINT [FK_Aluno_Professor] FOREIGN KEY([IdProfessor])
REFERENCES [dbo].[Professor] ([IdProfessor])
GO
ALTER TABLE [dbo].[Aluno] CHECK CONSTRAINT [FK_Aluno_Professor]
GO
USE [master]
GO
